
@import "node_modules/bootstrap/scss/bootstrap";


nav{
    background: #777
}
nav ul{
    list-style-type: none;
    padding: 0;
}

nav a{
    text-decoration: none;
    text-align: center;
    color: #fff;
    display: block;
    padding: 10px;
    background-color: #777; 
    ;
}
nav a:hover {
    background-color: #555;
}

#carouselExampleIndicators {
    border-radius: 55px 55px 55px 55px;
    height: 500px;
    overflow: hidden;
    width: 700px;

}

#carousel-image {
    border-radius: 55px 55px 55px 55px;

}
/* flex styles */

@media screen and (min-width: 768px){
    nav ul {
        display: flex;
        justify-content:space-between;
    }
    nav li{
        flex: 1 1 0;
    }

  
}
